{% extends "::base.html.twig" %}

{% block title %}<div class="text-center" ><h1> Ajout location : locataire</h1> <br/>{% endblock %}

<br>

{% block body %}
<div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        </div>
        </div>
        <!-- /.container-fluid -->

       

    </div>
  
 
{% endblock %}