<!-- {% extends 'base.html.twig' %}
{% block body %} 
{% include 'calendar.html.twig' %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 {% endblock %}-->




 <div id="calendar-holder"></div>