{% extends 'base.html.twig' %}



{% block body %}
    {% block title %} Velo.tn {% endblock %}
  <div class="text-center" ><h1> Creation Reservation </h1> <br/>
<br>
</div>

<div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        
</div>

{% endblock %}