{% extends "::base.html.twig" %}

{% block title %}<h2 class="fs-title">Ajout location </h2>{% endblock %}

{% block body %}
<div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        </div>
        </div>
        <!-- /.container-fluid -->

       

    </div>
  
 
{% endblock %}